#container {
    border: 1px solid black;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
}
.square{
    border: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    background-color: black;
    opacity: .10;
    display: inline-block;
}